/.idea/
/build/
/builds/
/dist/
/logs/
/versions/
/ScriptInstaller.iss
/MinecraftLauncher-Installer.exe
/InsAr5Con.exe
/LauncherSettings.json
/updater.py
/updater.spec
/gitbuild.py
/certificateGenerate.py
/buildParams.py
/test/
/__pycache__/
/functions/__pycache__/
/private_key.pem
/selfsigned_cert.pem
